header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 5px 15px;
}

main {
    display: flex;
    background-color: #f9fafb;
    border-top: 1px solid #80808033;
    flex-direction: column;
    height: 90vh;
    padding: 10px;
}