header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
main {
    display: flex;
    background-color: #f9fafb;
    border-top: 1px solid #0000004a;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}