* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
}

button {
    background: white;
    border: 1px black solid;
    cursor: pointer;
    outline: none;
}

button:disabled {
    cursor: default;
    opacity: 0.5;
}

input:focus {
    outline: none;
}